@{
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
}

<h2>Analiz Sonucu</h2>

@if(ViewBag.Error != null)
{
    <div class="alert alert-danger">@ViewBag.Error</div>
}
else if(ViewBag.FileMd5 != null)
{
    <div class="card mt-3">
        <div class="card-header bg-primary text-white">Analiz Özeti</div>
        <div class="card-body">
            <h5 class="card-title">Dosya: @ViewBag.FileName</h5>
            <table class="table table-bordered table-hover mt-4">
                <tbody>
                    <tr>
                        <th>Dosyanın MD5 Değeri</th>
                        <td>@ViewBag.FileMd5</td>
                    </tr>
                    <tr>
                        <th>Toplam Zararlı İzin Sayısı (Malware Permission):</th>
                        <td>@ViewBag.TotalMalware</td>
                    </tr>
                    <tr>
                        <th>Toplam İzin Sayısı:</th>
                        <td>@ViewBag.TotalPermission</td>
                    </tr>
                    <tr>
                        <th>Yüksek Ciddiyetli Zafiyet (SeverityHigh):</th>
                        <td>@ViewBag.SeverityHigh</td>
                    </tr>
                    <tr>
                        <th>Çok Tehlikeli İzin Sayısı (StatusDangerous):</th>
                        <td>@ViewBag.StatusDangerous</td>
                    </tr>
                    <tr>
                        <th>Minimum SDK (minSdk):</th>
                        <td>@ViewBag.MinSdk</td>
                    </tr>
                    <tr>
                        <th>Güvenlik Skoru (SecurityScore):</th>
                        <td>@ViewBag.SecurityScore</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
}
else if(ViewBag.Message != null)
{
    <div class="alert alert-info">@ViewBag.Message</div>
    <!-- Tarama başlatma butonu -->
    <form method="post" action="/File/Scan">
        <button type="submit" class="btn btn-warning mt-3">Taramayı Başlat</button>
    </form>
}
else
{
    <div class="alert alert-info">Henüz bir analiz yapılmadı.</div>
}
